* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    /* background-color: #FFEBEB; */
}

aside {
    width: 350px;
    border-right: 1px solid #1D2F59;
    padding: 20px;
    /* background-color: #F4A4B3; */
    /* background-color: #101043; */
    background-color: #071F4C;
}

h1, h2 {
    color: white;
    opacity: 0.8;
    margin-left: 10px;
}

h3 {
    background-color: #0183FF;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    opacity: 0.8;
    font-weight: 300;
}

hr {
    border: 1px solid #1D2F59;
    border-radius: 5px;
}

.side-panel-studies-btns {
    /* background-color: #0183FF; */
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #1D2F59;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: left;
    padding-left: 15px;
    color: rgb(235, 233, 233);
    /* opacity: 0.8; */
}

.side-panel-studies-btns {
    display: flex; /* Enables Flexbox */
    align-items: center; /* Vertically centers items */
    gap: 8px; /* Adds space between image and text */
    padding-left: 15px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #1D2F59;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    /* border-radius: 5px; */
    font-size: 16px;
    color: rgb(209, 209, 209);
    cursor: pointer;
}



.side-panel-variations-btns {
    display: flex; /* Enables Flexbox */
    align-items: center; /* Vertically centers items */
    gap: 8px; /* Adds space between image and text */
    margin-left: 40px;
    width: 210px;
    height: 30px;
    border-bottom: 1px solid #1D2F59;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    /* border-radius: 5px; */
    font-size: 16px;
    color: rgb(209, 209, 209);
    cursor: pointer;
}

.side-panel-emails-btns {
    display: flex; /* Enables Flexbox */
    align-items: center; /* Vertically centers items */
    gap: 8px; /* Adds space between image and text */
    width: 160px;
    padding-left: 20px;
    height: 30px;
    margin-left: 40px;
    border-bottom: 1px solid #1D2F59;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    /* border-radius: 5px; */
    font-size: 16px;
    color: rgb(209, 209, 209);
    cursor: pointer;
}

.email-list-item {
    display: flex;
    justify-content: space-between;
}

.side-panel-emails-btns.active-email {
    background-color: #2c52ab;
}

input[type='checkbox'] {
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

.top-bar {
    height: 80px;
    border-bottom: 1px solid #071F4C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1D2951; */
    /* background-color: #101043; */
    background-color: #071F4C;
}

.export-container {
    display: flex;
}

#export-pdf, #export-png {
    padding: 7px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    /* height: 100%; */
    border: 0;
    background-color: #c7e4ff;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    margin-left: 5px;
}

.screen-view-btn-wrapper {
    margin-right: 15px;
}

.screen-view-btn {
    padding: 5px;
    width: 70px;
    /* height: 100%; */
    border: 0;
    background-color: #c7e4ff;
    border-radius: 3px;
    font-size: 12px;
    color: black;
    cursor: pointer;
}

.screen-view-btn.active-screen {
    background-color: #9BCEFF;
}

.email-wrapper {
    margin: 0 auto;
    width: 600px;
    border: 0;
    height: 100%;
}

#email-preview {
    height: 100%;
}

.email-side-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #e0ecf7; */
}



iframe {
    flex: 1;
    height: 80vh;

}
