* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    /* background-color: gray; */
}

aside {
    width: 200px;
    border-right: 1px solid #ccc;
    /* background-color: #F4A4B3; */
}

iframe {
    flex: 1;
    height: 80vh;
    border: none;
}

.email-wrapper {
    margin: 0 auto;
}

.side-panel-client-btns {
    background-color: #EA526F;
    /* background-color: #A06CD5; */
    cursor: pointer;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #ED6E85;
    /* border-bottom: 0; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: left;
    padding-left: 15px;
}

.side-panel-variations-btns {
    background-color: #ED6E85;
    cursor: pointer;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #EF8094;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: left;
    padding-left: 15px;
    width: 180px;
    margin-left: 20px;
}

.side-panel-emails-btns {
    background-color: white;
    cursor: pointer;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #EF8094;
    /* border: none; */
    border-top: 0;
    border-left: 1px solid #ED6E85;
    border-right: 0;
    text-align: left;
    padding-left: 15px;
    width: 179px;
    margin-left: 21px;
    /* text-decoration: underline; */
    /* text-decoration-color: #ED6E85; */

}

ul {
    list-style: none;
    padding: 0;
}
